<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--配置mybatis的核心文件-->
<configuration>
    <settings>
<!--允许在嵌套语句中使用分页-->
        <setting name="safeRowBoundsEnabled" value="true"/>
<!--二级缓存，全局开启/关闭缓存，如果配置为false，会覆盖各个Mapper文件中的cache配置-->
        <setting name="cacheEnabled" value="false"/>
<!--允许JDBC 生成主键。需要可兼容的驱动器。如果配置为true，将强制使用被生成的主键，不兼容的驱动器仍然执行。d-->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>
</configuration>